@model MiniShopMVC.Models.ViewModels.CategoryUpdateViewModel

@{
    ViewData["Title"] = "Добавить категорию";
    var category = ViewBag.Category;
}

<h2 class="mb-4">Обновить категорию</h2>

<form action="/Category/Update" method="post" enctype="multipart/form-data" >
    <input name="Id" type="hidden" value="@category.Id" />
    
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Название категории</label>
        <input name="Name" class="form-control" value="@category.Name"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary ms-2">Отмена</a>
</form>